<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,0},{33,51}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,105},{31,57}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>2_Left.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,215},{41,45}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>2_Right.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,56},{44,44}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,112},{42,56}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>3_Left.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,56},{41,55}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>3_Right.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,0},{38,56}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>4_Left.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,168},{42,56}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>4_Right.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,0},{36,56}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,0},{35,52}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>5_Left.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{36,53}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>5_Right.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,114},{35,52}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,56},{43,39}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>6_Left.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,166},{37,44}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>6_Right.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,210},{36,44}}</string>
				<key>offset</key>
				<string>{4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,111},{39,52}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>7_Left.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,52},{34,53}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>7_Right.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,95},{35,53}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{46,57}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>8_Left.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,186},{46,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>8_Right.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,56},{44,56}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,53},{30,61}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>9_Left.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,100},{31,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>9_Right.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,163},{33,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,0},{45,56}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>10_Left.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,112},{41,56}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>10_Right.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,0},{39,56}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,162},{36,53}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>11_Left.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,162},{32,48}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>11_Right.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,210},{30,46}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{52,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,62},{52,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,124},{52,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,168},{37,58}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Enimies.png</string>
			<key>realTextureFileName</key>
			<string>Enimies.png</string>
			<key>size</key>
			<string>{314,260}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>314</integer>
			<key>height</key>
			<integer>260</integer>
		</dict>
	</dict>
</plist>